html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.back_circle {
    background: #eeeeee;
    background: repeating-radial-gradient(circle, #fefeff, #fefeff 15px, #ffffff 15px, #ffffff 30px);
}

.wrapper {
    display: table;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.content {
    display: table-row;
    height: 100%;
    width: 100%;
}

.footer {
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    cursor: hand;
    color: #767675;
}

a:active {
    text-decoration: none;
}

table {
    background-color: #333333;

    font-size: 14px;
    font-family: Consolas, monaco, monospace;

    margin-left: auto;
    margin-right: auto;

    table-layout: auto;
}

th {
    color: white;
    padding: 10px;
    font-weight: bold;
}

.main_frame {
    position: fixed;
    width: 100%;
    height: 94%;
    border: none;
}

.main_head {
    font-size: 16;
    height: 15%;
}

.mid_head {
    font-size: 14;
}

.border {
    border: 1px solid #ffffff;
}

td {
    padding: 10px;
    text-align: center;
}

.num {
    padding: 5px;
    text-align: left;
}

.td_1 {
    background-color: #eeeeee;
}

.td_2 {
    background-color: #dddddd;
}

.version {
    text-align: left;
}

.t_center {
    text-align: center;
}

.t_right {
    text-align: right;
}

.t_left {
    text-align: left;
}

.no_wrap {
    display: inline;
}

td.td_inc_0 {
    background-color: #eeeeee
}

td.td_inc_1 {
    background-color: #cecece
}

td.td_inc_2 {
    background-color: #bebebe
}

tr.mt_head {
    background-color: #333333;

    width: 50%;
    height: 5%;
}

tr.mt_foot {
    background-color: #555555;

    height: 5%;
}

tr.tr_1 {
    background-color: #eeeeee;
}

.green {
    color: #008800;
}

.red {
    color: #880000;
}

p.header {

}

.foot_info {
    text-align: center;
    font-size: 10px;
    font-family: arial;
}

p.foot_back {
    text-align: center;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;

}